<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @tree.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @tree.longitude %>
</p>

<%= link_to 'Edit', edit_tree_path(@tree) %> |
<%= link_to 'Back', trees_path %>
