<%= form_for(light) do |f| %>
  <% if light.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(light.errors.count, "error") %> prohibited this light from being saved:</h2>

      <ul>
      <% light.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :power %>
    <%= f.number_field :power %>
  </div>

  <div class="field">
    <%= f.label :pole %>
    <%= f.text_field :pole %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
